 /* body {
    background: #121212; 
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .container {
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
  }

  .light-box {
    margin: 30px 0;
    padding: 20px;
  }

  .btn {
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin: 0 10px;
  }

  .on { background: #ffca28; color: #000; }
  .on:hover { box-shadow: 0 0 20px #ffca28; }

  .off { background: #444; color: #fff; }
  .off:hover { background: #666; }  */


     /* body {
    background: #121212;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}  */
/* 
.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.05); 
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
} */

/* .light-box {
    margin: 30px 0;
    padding: 20px;
}  */

/* .btn-group {
    display: flex;
    justify-content: center;
    gap: 15px; 
} */

/* .btn {
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
} */

/* .on {
    background: #ffca28;
    color: #000;
} */

/* .on:hover {
    box-shadow: 0 0 20px #ffca28;
    transform: translateY(-2px);
} */

/* .off {
    background: #444;
    color: #fff;
}  */

/* .off:hover {
    background: #666;
    transform: translateY(-2px);
} */



/* .box1{
    background-color: rgb(223, 16, 16);
    width: 200px;
    height: 150px;
    margin: 10 px;
} */

/* .box2{
    background-color: rgb(236, 8, 8);
   width: 300px;
   height: 200px;
   border: solid 5px black; 
   border-radius: 10px 20px 20px 10px ;
   margin: 20 px;
}
.box3{
    background-color: rgb(108, 202, 19);
   width: 300px;
   height: 200px;
   border: solid 5px black; 
   border-radius: 10px 20px 20px 10px ;
      margin: 20 px;

}
.box4{
    background-color: rgb(16, 8, 236);
   width: 300px;
   height: 200px;
   border: solid 5px black; 
   border-radius: 10px 20px 20px 10px ;
      margin: 20 px;

} */